name: Deploy Django project

on:
  push:
    branches:
      - main

jobs:
  ci:
    name: 'Django CI'
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 4
      matrix:
        python-version: [3.11]

    steps:
      - uses: actions/checkout@v2
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install Dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          
      - name: Run Tests
        run: |
          python manage.py test
        
        env:
          SECRET_KEY: ${{ secrets.DJANGO_SECRET_KEY }}
          EMAIL_HOST_USER: ${{ secrets.WATOON_EMAIL_HOST_USER }}
          EMAIL_HOST_PASSWORD: ${{ secrets.WATOON_EMAIL_HOST_PASSWORD }}
          DB_NAME: ${{ secrets.DB_NAME }}
          DB_USER: ${{ secrets.DB_USER }}
          DB_PASSWORD: ${{ secrets.DB_PASSWORD }}
          DB_HOST: ${{ secrets.DB_HOST }}
          DB_PORT: ${{ secrets.DB_PORT }}
          S3_ACCESS_KEY_ID : ${{ secrets.S3_ACCESS_KEY_ID }}
          S3_SECRET_ACCESS_KEY : ${{ secrets.S3_SECRET_ACCESS_KEY }}
          S3_URL : ${{ secrets.S3_URL }}
          AWS_STORAGE_BUCKET_NAME : ${{ secrets.AWS_STORAGE_BUCKET_NAME }}
          AWS_S3_REGION_NAME: ${{ secrets.AWS_S3_REGION_NAME }}


          SOCIAL_AUTH_KAKAO_REST_API_KEY: ${{ secrets.SOCIAL_AUTH_KAKAO_REST_API_KEY }}
          SOCIAL_AUTH_KAKAO_SECRET: ${{ secrets.SOCIAL_AUTH_KAKAO_SECRET }}
          SOCIAL_AUTH_GOOGLE_CLIENT_ID: ${{ secrets.SOCIAL_AUTH_GOOGLE_CLIENT_ID }}
          SOCIAL_AUTH_GOOGLE_CLIENT_SECRET: ${{ secrets.SOCIAL_AUTH_GOOGLE_CLIENT_SECRET }}
          STATE: ${{ secrets.STATE }}

  build:
    needs: ci
    runs-on: ubuntu-latest
    environment: env
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Set up Python 3.11
        uses: actions/setup-python@v3.1.3
        with:
          python-version: "3.11"

      - name: Create .env file
        run: |
          echo "SECRET_KEY=${{ secrets.DJANGO_SECRET_KEY }}" >> .env
          echo "EMAIL_HOST_USER=${{ secrets.WATOON_EMAIL_HOST_USER }}" >> .env
          echo "EMAIL_HOST_PASSWORD=${{ secrets.WATOON_EMAIL_HOST_PASSWORD }}" >> .env
          
          echo "DB_NAME=${{ secrets.DB_NAME }}" >> .env
          echo "DB_USER=${{ secrets.DB_USER }}" >> .env
          echo "DB_PASSWORD=${{ secrets.DB_PASSWORD }}" >> .env
          echo "DB_HOST=${{ secrets.DB_HOST }}" >> .env
          echo "DB_PORT=${{ secrets.DB_PORT }}" >> .env
          echo "S3_ACCESS_KEY_ID=${{ secrets.S3_ACCESS_KEY_ID }}" >> .env
          echo "S3_SECRET_ACCESS_KEY=${{ secrets.S3_SECRET_ACCESS_KEY }}" >> .env
          echo "S3_URL=${{ secrets.S3_URL }}" >> .env
          echo "AWS_STORAGE_BUCKET_NAME=${{ secrets.AWS_STORAGE_BUCKET_NAME }}" >> .env
          echo "AWS_S3_REGION_NAME=${{ secrets.AWS_S3_REGION_NAME }}" >> .env
          echo "SOCIAL_AUTH_KAKAO_REST_API_KEY=${{ secrets.SOCIAL_AUTH_KAKAO_REST_API_KEY }}" >> .env
          echo "SOCIAL_AUTH_KAKAO_SECRET=${{ secrets.SOCIAL_AUTH_KAKAO_SECRET }}" >> .env
          echo "SOCIAL_AUTH_GOOGLE_CLIENT_ID=${{ secrets.SOCIAL_AUTH_GOOGLE_CLIENT_ID }}" >> .env
          echo "SOCIAL_AUTH_GOOGLE_CLIENT_SECRET=${{ secrets.SOCIAL_AUTH_GOOGLE_CLIENT_SECRET }}" >> .env
          echo "STATE=${{ secrets.STATE }}" >> .env




      - name: Install dependencies & migration
        run: |
          sudo apt-get update
          sudo apt-get install -y python3-venv zip
          python -m venv venv
          source venv/bin/activate
          python -m pip install --upgrade pip
          
          pip install -r requirements.txt
          python -m pip uninstall mysqlclient
          
          python manage.py migrate
          #없어도 돌아가는 듯?

      - name: Generate deployment package
        run: zip -r deploy.zip . -x '*.git*'

      - name: Get current time
        uses: 1466587594/get-current-time@v2
        id: current-time
        with:
          format: YYYY-MM-DDTHH-mm-ss
          utcOffset: "+09:00"

      - name: Deploy to EB
        uses: einaregilsson/beanstalk-deploy@v21
        with:
          aws_access_key: ${{ secrets.AWS_ACCESS_KEY_ID }} #나중에 실제로 배포할 사람의 키로 변경해야 함
          aws_secret_key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          application_name: Watoon  # EB 애플리케이션명
          environment_name: Watoon-env1  # EB 환경명
          version_label: github-action-${{ steps.current-time.outputs.formattedTime }}
          region: ap-northeast-2
          deployment_package: deploy.zip

